<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="somadeb1302" value="https://nuget.pkg.github.com/somadeb1302/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <Nuuday>
      <add key="Username" value="somadeb1302"/>
      <add key="ClearTextPassword" value="{github_access_token}"/>
    </Nuuday>
  </packageSourceCredentials>
</configuration>